*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: disc;
    margin: auto;
    padding: 2px;
}
body{
    font-family: "Verdana" , Geneva ,sans-serif;
    background-color: #e9e9e9;
    background-position: top center;
    background-attachment: scroll;
    background-repeat: repeat-y;
    font-size: 12px
}

span{
    padding: 4px;
    align-content: center;
}

.barra-inicial, .lista-redes{
    background-color: #b9b9b9;
    text-align: center;
}
.lista-redes{
    position: relative;
    z-index: 2;
    left: 225px;
}
#cabecalho {
    background-color: #000000;
    background-position: top center;
    background-repeat: no-repeat;
    margin: auto;
}
.carrinho-v{
    float: none;
    display: compact;
    margin-left: 50px;
    line-height: 40px;
    padding: 0;
    font-size: 13px;
}

.menu .superior {
    padding: 0;
    margin-top: 25px;
    margin-bottom: -10px;
    background: none;
}

.fundo-principal {
    background-color: #ad0e0e;
}
.conteudo-topo .superior {
    padding: 25px 0 25px;
}

.conteudo-topo  {
    color: #FFF;
    
}
.cor-vermelha {
    color: #ad0e0e;
}
.cor-branca {
    color: #FFF;
}
.pesquisa{
    padding-top: 30px;
}
.search{
    position: relative;
    bottom: 5px;
    right: 3px;
    z-index: 1;
}
#gli{
    position: relative;
    bottom: 6px;
    right: 3px;
    z-index: 3;
}

.menu-superior{
    text-align: center;
    font-size: 15px;
    font-style: initial;
}
