*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    margin: auto;
    padding: 2px;
    display: inline;
}
#corpo{
    margin-bottom: 30px;
}body{
    font-family: "Verdana" , Geneva ,sans-serif;
    background-color: #FFF;
    background-position: top center;
    background-attachment: scroll;
    background-repeat: repeat-y;
    font-size: 12px;
}
.barra-inicial, .lista-redes{
    background-color: #b9b9b9;
    
}
.lista-esquerda{
    position: relative;
    z-index: 2;
    left: 270px;
}
.lista-direita{
    text-align: right;
}
.bor{
    border-left: 1px solid #A9A9A9;
    border-right: 1px solid #A9A9A9;

}
#cabecalho{
    background-color: #000000;
    margin: 0;
}
.erior {
    position: relative;
    z-index: 2;
    padding-top: 20px; 
    padding-bottom: 40px;
}
.nome-produto{
    color: #ad0e0e;
    font-size: 13.5px;
    margin: 0;
    padding: 0;
}
.bem{
    font-weight: bold;
}
.fundo-principal {
    background-color: #ad0e0e;
}
.logo{
    text-align: center;
    position: relative;
    z-index: 50;
}
.cor-principal{
    color: #A9A9A9;
}
.conteudo-topo  {
    color: #FFF;
    margin: auto;
    padding: auto;
    position: relative;
}
.cor-vermelha {
    color: #ad0e0e;
}
.icon{
    padding: 2px;
}
.cor-branca {
    color: #FFF;
}
.font{
    font: "Verdana" , Geneva ,sans-serif;
}
.conteudo-topo{
    height: 180px;
    position: relative;
    z-index: 2;
}
.ped{
    position: relative;
    z-index: 3;
    color: #FFF;
}
.pesqui{
    top: 1px;
    left: 1.9px;
    height: 45.5px;
}
.pesquis{
    position: relative;
    z-index: 100;
    height: 70px;
}
.pesquisa{
    position: relative;
    z-index: 100;
    padding-top: 10px;
}
.button{
    position: relative;
    z-index: 110;
    left: 2px;
}
.search{
    position: relative;
    z-index: 1;
}
.gly{
    font-size: 23px;
    top: 13px;
}
.btn-sm{
    background-color: #ad0e0e;
}

.carrinho-v{
    font-size: 13px;
    color: #FFF;
    height: 50px;
}
.cv{
    color: #FFF;
    font-size: 15px;
    top: 18px;
}
h5{
    color: #FFF;
}
.menu-1{
    width: 100%;
    height: 47px;
}
.menu{
    width: 755px;
    margin: auto;
    background-color: #000000;
    font-family: "Verdana";
}
.menu ul{
    font: "Verdana" , Geneva ,sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    font-weight: bold;
}
.menu ul li{
    float: left;
    display: block;
    width: 120px;
}
.menu ul li a{
    color: #FFF;
    background-color: #000000;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}
.menu li ul{
    display: none;
    
}
.menu ul li a:hover{
    background: #152224;
    color: #FFF;
}
.menu li:hover ul{
    display: block;
    position: absolute;
    z-index: 99;
    
}
.menu li:hover li{
    float: none;
    font-size: 12px;
    
}
.listagem .titulo-categoria, .listagem.aproveite-tambem,.titulo {
    border-top: none;
    border-bottom: 2px solid #cecece;
    font-size: 20px;
}
#rodape .institucional {
    background-color: #515452;
    background-position: top center;
    background-repeat: repeat;
}
#rodape .institucional {
    min-height: 215px;
}
.fundo-secundario, .fundo-secundario *, .fundo-secundario *:hover, .fundo-secundario:hover, .fundo-secundario.botao:hover {
    color: #FFF;
}
.produtos img {
	width: 100%;
	height: auto;
}
.email{
    width: 100%;
    background-color: #000000;
    height: 70px;
}

.margin{
    margin-top: 23px;
}
.rodape ul{
    list-style-type:inherit;
}
.listagem .info-produto {
    padding: 15px 5px 10px;
    position: relative;
}

.listagem .listagem-item {
    margin-left: 3%;
    padding: 0;
}
.listagem-item .produto-sobrepor {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(255,255,255,0);
}
.borda-alpha, .borda-alpha * {
    border-color: rgba(0,0,0,0.13);
    margin: 0;
    padding-top: 5px;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
}
.listagem .preco-produto .preco-venda {
    color: #ad0e0e;
}
.preco-produto strong.titulo {
    font-size: 16px;
    white-space: nowrap;
}
.titulo {
    font-family: 'Oswald',Arial,sans-serif;
    font-weight: 400;
    text-rendering: inherit;
}
strong {
    font-weight: bold;
}

.titulo {
    font-family: 'Raleway' , serif;
    font-weight: 600;
    text-transform: uppercase;
}

.titulo-rodape{
    padding-bottom: 20px;
    border-bottom: 1px solid #2E2E2E;
    font-size: 18px;
}

@media(min-width: 600px) and (max-width: 768px){
    .imagem-produto, .info-produto{
        float: left;
        width: 48%;
    }
    .nome-produto{
        font-size: 18px;
    }
    .preco-venda{
        font-size: 15px;
    }
    .clear{
        clear: both;
    }
}



/*=============================================Listagem de Produto=============================================*/



#corpo {
    margin-bottom: 30px;
}

#corpo .conteiner>div {
    margin-bottom: 20px;
}
.breadcrumbs {
    border-top: none;
    margin-top: -10px !important;
}
.borda-alpha, .borda-alpha * {
    border-color: rgba(0,0,0,0.13);
}
.breadcrumbs {
    border-style: solid;
    border-width: 1px 0;
    padding: 10px 0;
    margin: 0 0 20px;
}

.barra{
    width: 1px;
    height: 12px;
    background: #A9A9A9;
    margin-top: 2px; 
}
.borda-principal {
    border-width: 2px 0 0;
    border-style: solid;
}
.ativo{
    box-shadow:  2px 2px 0.5px #b9b9b9;
}
.ativo ul li{
    border-width: 0 2px 2px 2px;
    border-style: solid;
    padding: 10px;
    color: #ad0e0e;
}
.ativo ul li:hover {
    background: rgb(128, 128, 128);
background: -moz-linear-gradient(90deg, rgb(128, 128, 128) 0%, rgb(232, 232, 232) 14%);
background: -webkit-linear-gradient(90deg, rgb(128, 128, 128) 0%, rgb(232, 232, 232) 14%);
background: -o-linear-gradient(90deg, rgb(128, 128, 128) 0%, rgb(232, 232, 232) 14%);
background: -ms-linear-gradient(90deg, rgb(128, 128, 128) 0%, rgb(232, 232, 232) 14%);
background: linear-gradient(180deg, rgb(128, 128, 128) 0%, rgb(232, 232, 232) 14%);
}
.ativo ul li a{
    color: #ad0e0e;
}
.titulo-produto{
    font-size: 20px;
}
.ordenar-listagem{
    position: relative;
    top: 20px;
}
.ordenar-listagem h4{
    font-size: 25px;
}
.ordenar-listagem label {
    font-size: 12px;
    float: left;
    padding: 7px 12px;
    border: 1.2px solid rgba(0,0,0,0.2);
    border-radius: 4px 0 0 4px;
    height: 35px;
    text-align: center;
}
.buttom{
    position: relative;
    right: 2px;
    z-index: -1;
    height: 35px;
}

.selecao{
    background-color: #cecece;
}




/*=============================================Pagina de Produto=============================================*/


